#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 5px;
  max-width: 550px;
  width: 100%;
}